.component1Icon {
    position: relative; 
    width: 65px;
    height: 65px;
    }
    .component2Child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-Radius: 50%;
    background-color: #f4edea;
    }
    .vo {
    position: absolute;
    top: 27.69%;
    left: 21.54%;
    font-weight: 500;
    }
    .component1Parent {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 25px;
    text-align: center;
    font-size: 24px;
    color: #a3a3a3;
    font-family: Lato;
    }
